 :root {
 --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --title-hero:#FFFFFF;
 }

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--title-hero);
     color: var(--primary-text-color);
}

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}

.logo-color {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.list {
    list-style: none;
} 

.site-nav a {
   color: var(--title-text-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav a:hover{
    color: var(--accent-color);
}

.contacts-nav {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.contacts-nav:hover,
.contacts-nav:focus {
    color: var(--accent-color);
}

.contact-nav {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.contact-nav:hover,
.contact-nav:focus {
    color: var(--accent-color);
}


.title {
    color: var(--title-hero);
    background-color: var(--title-text-color);
    text-align: center;
    width: 1000px;
    left: 3px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height:2;
}

.button-primary {
    color: var(--title-hero);
    background-color:var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.8;
    width: 200px;
    align-items: center;
    text-align: center;
}

.section-title {
    color: var(--title-text-color);
}

.benefits {
    color:var(--title-hero);
}

.team {
    background-color:var(--title-hero);
}

.logo-white {
    color: var(--title-hero);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;

}

.description {
    background-color: var(--title-text-color);
    color: var(--title-text-color);
}

.street-nav {
    color: var(--title-hero);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}

.street-nav:hover,
.street-nav:focus {
    color: var(--accent-color);
}

.email-nav {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;

}

.email-nav:hover,
.email-nav:focus {
    color: var(--accent-color);
}

.phone-nav {
   color: rgba(255, 255, 255, 0.6);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1;
   text-decoration: none;
}

.phone-nav:hover,
.phone-nav:focus {
    color: var(--accent-color);
}








    

